@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: whitesmoke;
}

.cv {
  padding: 0 100px;
  overflow: hidden;
}

.cv-content {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 10vh auto;
  font-family: Poppins, sans-serif;
  background: linear-gradient(#0b7080, #0ba376);
  border-radius: 1.8rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

.cv-left {
  flex: 30%;
  text-align: center;
  padding: 70px 30px 45px;
}

.cv-right {
  flex: 70%;
}

.profile-img img {
  height: 180px;
  background-color: white;
  border-radius: 100%;
  border: 1.5px solid white;
  box-shadow: 2px 2px 6px #000000;
}

.profile-title h2 {
  font-family: Fredoka One, sans-serif;
  text-transform: uppercase;
  font-size: 34px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 5px 0 7px;
}

.profile-title h4 {
  font-size: 22px;
  color: white;
  margin: 5px 0;
  text-transform: uppercase;
  line-height: 1.2em;
}

.social-links {
  margin: 20px 0;
}

.social-links ul li {
  list-style: none;
  display: inline-block;
}

.social-links a {
  display: block;
  color: white;
  margin: auto 10px;
  font-size: 30px;
  height: 60px;
  opacity: 0.9;
}

.social-links i {
  padding: 12px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 3px solid white;
}

.social-links i:hover {
  opacity: none;
  background-color: white;
  color: #0b7080;
  text-shadow: 3px 8px 9px rgb(78, 77, 77);
  transition: all 0.5s ease;
}

.contacts {
  padding-top: 1.5rem;
}

.contacts ul li {
  list-style: none;
  color: white;
  height: 60px;
  line-height: 25px;
  font-size: 17px;
}

.contacts .icon {
  opacity: 0.9;
  font-size: 22px;
}

section {
  position: relative;
  background-color: white;
  max-height: 80vh;
  border-radius: 1.8rem;
  padding: 60px;
  overflow: scroll;
  overflow-x: hidden;
}

.white-space-30 {
  padding-bottom: 30px;
}

.white-space-10 {
  padding-bottom: 10px;
}

.cv-right h2 span {
  color: #0ba376;
}

.block-title {
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.block-title span {
  color: #0ba376;
}

.block-title .deco {
  border: 1px solid #0ba376;
  margin-top: 0.8rem;
  width: 900px;
}

.row {
  display: flex;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.column1,
.column2 {
  padding-right: 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.block-w-icon {
  margin-bottom: 25px;
}

.block-w-icon i {
  color: #0ba376;
  width: 55px;
  height: 55px;
  font-size: 42px;
  opacity: 0.9;
  text-shadow: 3px 4px #505052;
}

.block-w-icon .cl-text h4 {
  margin: 5px 0;
}

.timeline .timeline-data {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 15px;
}

.timeline .left-side {
  width: 30%;
  display: table-cell;
  padding-right: 25px;
  text-align: right;
  vertical-align: top;
}

.timeline .period {
  margin: 3px 0;
  font-size: 14px;
  line-height: 1.4em;
}

.timeline .company {
  display: block;
  font-size: 12px;
  line-height: 1.45em;
  color: #595a5c;
}

.timeline .divider {
  border: 2px solid #0ba376;
  height: 160px;
  margin-top: 5px;
  border-radius: 2rem;
}

.timeline .right-side {
  width: 70%;
  display: table-cell;
  padding-left: 25px;
  padding-right: 10px;
  vertical-align: top;
}

.right-side p {
  font-size: 14px;
}

.skills .skill-data h4 {
  font-size: 14px;
  line-height: 1.1em;
  position: relative;
  float: left;
  margin: 0 0 4px;
}

.skills .skill-value {
  font-size: 12px;
  line-height: 1.1em;
  float: right;
  margin: 0 0 4px;
  color: #595a5c;
}

.skills .percentage-container {
  display: inline-block;
  border: 1px solid #0ba376;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.percentage-container .skill-percent {
  background-color: #0ba376;
  border: 2px solid white;
  border-radius: 9px;
  height: 8px;
  padding: 0;
}

.percentage-container.skill-1 .skill-percent {
  width: 85%;
}
.percentage-container.skill-2 .skill-percent {
  width: 80%;
}
.percentage-container.skill-3 .skill-percent {
  width: 80%;
}
.percentage-container.skill-4 .skill-percent {
  width: 75%;
}
.percentage-container.skill-5 .skill-percent {
  width: 90%;
}
.percentage-container.skill-6 .skill-percent {
  width: 85%;
}
.percentage-container.skill-7 .skill-percent {
  width: 95%;
}
.percentage-container.skill-8 .skill-percent {
  width: 80%;
}
.percentage-container.skill-9 .skill-percent {
  width: 80%;
}

.knowledges li {
  display: inline-block;
  background-color: #0ba376;
  border-radius: 1rem;
  color: white;
  padding: 1px 10px;
  margin: 2px 1px;
  font-size: 13px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#0b7080, #0ba376);
}
